{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Enregistrer un utilisateur{% endblock %}

{% block body %}
    <main class="container-fluid">
        <h1 class="titreFormulaire">Enregistrer</h1>

        {{ form_start(registrationForm) }}
           {{ form_widget(registrationForm) }}
            <button class="btn btn-primary">Enregistrer</button>
        <a href="{{ path('admin_app_fichier') }}" class="btn btn-primary">Import CSV</a>
        {{ form_end(registrationForm) }}
    </main>
{% endblock %}
