{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Modifier votre mot de passe{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1 class="titreFormulaire">Modifier votre mot de passe</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Veuillez entrez votre adresse email afin de recevoir un lien d'authentification.
            </small>
        </div>

        <button class="btn btn-primary">Envoyez</button>
    {{ form_end(requestForm) }}
{% endblock %}
