{% extends 'base.html.twig' %}

{% block head_js %}
    <script src="{{ asset('js/filtrePageAccueil.js')}}"></script>
    {{ parent() }}
{% endblock %}

{% block body %}
    <main class="container-fluid">
        <div class="d-none d-sm-none d-md-block">
            <h2> Date du jour : {{ "now" | date('d/m/Y') }}</h2>
            <h2> Participant : {{ app.user.prenom }}.{{  app.user.nom |slice(0,1) }}</h2>
        </div>




        <div class="d-none d-sm-none d-md-block">
            <h3> Filtrer les sorties :</h3>

            {{ form_start(filtreForm) }}
            {{ form_row(filtreForm.campus, { 'choice' : 'Tout les campus'}) }}
            {{ form_widget(filtreForm) }}
            <button class="btn btn-primary" type="submit">Rechercher</button>
            {{ form_end(filtreForm) }}

            <div class="blocUser cadre">
                <div>
                    <input type="checkbox" checked value="orga" name="orga">
                    <label for="orga">Sorties dont je suis l'organisateur/trice</label>
                </div>
                <div>
                    <input type="checkbox" checked value="inscrit" name="inscrit">
                    <label for="inscrit">Sorties auxquelles je suis inscrit/e</label>
                </div>
                <div>
                    <input type="checkbox" checked value="pas_inscrit" name="pas_inscrit">
                    <label for="pas_inscrit">Sorties auxquelles je ne suis pas inscrit/e</label>
                </div>
                <div>
                    <input type="checkbox" value="passe" name="passe">
                    <label for="passe">Sorties passées</label>
                </div>
           </div>
        </div>

        <article class="d-flex h-100">
            <div class="overflow-scroll">
            {% include 'inc/affichageListe.html.twig' %}
            </div>
        </article>

        <div class="boutonCreateSortie d-none d-sm-none d-md-block">
            <a href="{{ path('sortie_creerSortie') }}" class="btn btn-lg btn-primary" type="button">Créer une sortie</a>
        </div>
        {% if app.user.admin == true %}
            <div>
                <a class="btn btn-primary" href="{{ path('sortie_archivageSortie') }}">Archiver les sortie</a>
            </div>
        {% endif %}

    </main>
{% endblock %}

{% block title %}
    {{ parent() }} | Notre super page d'accueil
{% endblock %}