{% extends 'base.html.twig' %}


{% block body %}
    <main class="container-fluid">
        <h2>Afficher une sortie</h2>

        <p class="affichageArticle">Nom de la sortie : <span>{{ sortieDetails.nom }}</span></p>
        <p class="affichageArticle">Date et heure de la sortie : <span>{{ sortieDetails.date|date('m/d/Y') }}</span></p>
        <p class="affichageArticle">Date limite d'inscription : <span>{{ sortieDetails.dateLimite|date('m/d/Y') }}</span></p>
        <p class="affichageArticle">Nombre de places : <span>{{ sortieDetails.nombreInscriptionsMax }}</span></p>
        <p class="affichageArticle">Durée : <span>{{ sortieDetails.duree }} minutes</span></p>
        <p class="descrText">Description et infos : <br><span class="">{{ sortieDetails.description }}</span></p>
        <p class="affichageArticle">Campus : <span>{{ sortieDetails.campus.nom }}</span></p>
        <p class="affichageArticle">Lieu : <span>{{ sortieDetails.lieu.nom }}</span></p>
        <p class="affichageArticle">Rue : <span>{{ sortieDetails.lieu.rue }}</span></p>
        <p class="affichageArticle">Ville : <span>{{ sortieDetails.lieu.ville.nom }}</span></p>
        <p class="affichageArticle">Code postal : <span>{{ sortieDetails.lieu.ville.codePostal }}</span></p>
        <p class="affichageArticle">Latitude : <span>{{ sortieDetails.lieu.latitude }}</span></p>
        <p class="affichageArticle">Longitude : <span>{{ sortieDetails.lieu.longitude }}</span></p>
        <a class="btn btn-primary" href="{{ path('sortie_accueil') }}">Retour</a>

        <h3>Liste des participants inscrits :</h3>
        <article class="affichageListeParticipant">
            {% include 'inc/affichageListeParticipantsInscrits.html.twig' %}
        </article>
    </main>
{% endblock %}

{% block title %}
    {{ parent() }} | Affichage d'une sortie
{% endblock %}