{% extends 'base.html.twig' %}


{% block body %}

    <h2>Afficher une sortie</h2>

    <p>Nom de la sortie : {{ sortieDetails.nom }}</p>
    <p>Date et heure de la sortie : {{ sortieDetails.date|date('m/d/Y') }}</p>
    <p>Date limite d'inscription : {{ sortieDetails.dateLimite|date('m/d/Y') }}</p>
    <p>Nombre de places : {{ sortieDetails.nombreInscriptionsMax }}</p>
    <p>Durée : {{ sortieDetails.duree }} minutes</p>
    <p>Description et infos : {{ sortieDetails.description }}</p>
    <p>Campus : {{ sortieDetails.campus.nom }}</p>
    <p>Lieu : {{ sortieDetails.lieu.nom }}</p>
    <p>Rue : {{ sortieDetails.lieu.rue }}</p>
    <p>Ville : {{ sortieDetails.lieu.ville.nom }}</p>
    <p>Code postal : {{ sortieDetails.lieu.ville.codePostal }}</p>
    <p>Latitude : {{ sortieDetails.lieu.latitude }}</p>
    <p>Longitude : {{ sortieDetails.lieu.longitude }}</p>

{% include 'inc/affichageListeParticipantsInscrits.html.twig' %}

{% endblock %}

{% block title %}
    {{ parent() }} | affichage d'une sortie
{% endblock %}