{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Annuler une sortie {% endblock %}

{% block body %}
    <main class="container-fluid">
        <div class="container">
            <h3>Annuler sortie</h3>
            <div>
                <tr>
                    <td>Nom de la sortie : {{ sortie.nom }}</td><br/>
                    <td>Date de la sortie : {{ sortie.date|date("d-m-Y") }}</td><br/>
                    <td>Campus : {{ sortie.campus.nom }}</td><br/>
                    <td>Lieu : {{ sortie.lieu.nom }}</td><br/>
                </tr><br/>

            </div>
        </div>
        <div>
            {{ form_start(cancelForm) }}
            {{ form_widget(cancelForm) }}
            <a class="btn btn-primary" href="javascript:history.go(-1)">Retour</a>
            <button class="btn btn-primary" name="enregistrer" value="annuler">Effacer sortie</button>
            {{ form_end(cancelForm) }}

        </div>
    </main>
{% endblock %}