{% extends 'base.html.twig' %}


{% block title %} {{ parent() }} | Créer sortie {% endblock %}

{% block body %}

    <main class="container-fluid">
        <h1 id="titreCréerSortie">Créer une sortie</h1>
        {%for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <div>
            <button id="btnDetailsLieu">Afficher détails lieu</button>
            {{ form_start(sortieForm, {'attr':{'class':"formulaireCreationSortie"}}) }}
            <button><a href="{{ path('sortie_ajouterLieu')}}">+</a></button>
            {{ form_widget(sortieForm) }}
            {{ form_errors(sortieForm) }}
            <div class="btnSortie">
                <button name="cree" value="cree" class="btnSortieCreer">Créer une sortie</button>
                <button name="publier" value="publier"class="btnSortiePublier">Publier une sortie</button>
            </div>
                {{ form_end(sortieForm) }}
        </div>
    </main>

{% endblock %}