{% extends 'base.html.twig' %}


{% block title %} {{ parent() }} | Créer sortie {% endblock %}

{% block body %}

    <main class="container-fluid">
        <h1 id="titreCréerSortie">Créer une sortie</h1>

        <div>
            {{ form_start(sortieForm, {'attr':{'class':"formulaireCreationSortie"}}) }}
            <a href="{{ path('sortie_ajouterLieu')}}" class="btn btn-primary">Ajouter un lieu</a>
            {{ form_widget(sortieForm) }}
            {{ form_errors(sortieForm) }}
                <div class="btnSortie">
                    <button name="cree" value="cree" class="btnSortieCreer btn btn-primary">Créer une sortie</button>
                    <button name="publier" value="publier"class="btnSortiePublier btn btn-primary">Publier une sortie</button>
                </div>
                <a class="btn btn-primary" href="javascript:history.go(-1)">Retour</a>
            {{ form_end(sortieForm) }}
        </div>
    </main>

{% endblock %}