{% extends 'base.html.twig' %}

{% block title %}
    Profil de {{ app.user.prenom }} {{ app.user.nom }}
{% endblock %}

{% block body %}
   <h1> Profil de {{ app.user.prenom }} {{ app.user.nom }}</h1>
    {{ form_start(profileForm) }}
        {{ form_widget(profileForm) }}
        <button>Enregistrer</button>
        <button>Annuler</button>
    {{ form_end(profileForm) }}
{% endblock %}

