
{% set class = "" %}
{% set break = false %}

<table class="align-self-xl-center">
    <thead>
    <tr>
        <th>
            Nom de la sortie
        </th>
        <th>
            Date de la sortie
        </th>
        <th>
            Clôture
        </th>
        <th>
            Inscrits/places
        </th>
        <th>
            Etat
        </th>
        <th>
            Inscrit
        </th>
        <th>
            Organisateur
        </th>
        <th>
            Action
        </th>
    </tr>
    </thead>

    <tbody>

    {% for sortie in sorties%}
        {% if app.user.id is same as(sortie.organisateur.id) or (app.user.id != sortie.organisateur.id and (sortie.etat.libelle != ("Créée"))) %}

            {% if app.user.id is same as(sortie.organisateur.id) %}
                {% set class = "orga"%}
            {% else %}
                {% for participant in sortie.participant %}
                    {% if app.user.id is same as(participant.id) and not break %}
                        {% set class = class ~ " inscrit"%}
                        {% set break = true %}
                    {% elseif loop.last and not break%}
                        {% set class = class ~ " pas_inscrit"%}
                    {% endif %}
                {% endfor %}
                {% set break = false %}
            {% endif %}
            {% if sortie.etat.libelle == 'Passée' %}
                {% set class = class ~ " passe" %}
            {% endif %}

            <tr class="trSortie {{ class }}">

            {% set class = "" %}

                <td>
                    {{ sortie.nom }}
                </td>
                <td>
                    {{ sortie.date|date('d/m/Y') }}
                </td>
                <td>
                    {{ sortie.dateLimite|date('d/m/Y') }}
                </td>
                <td>
                    {{ sortie.participant|length }}/{{ sortie.nombreInscriptionsMax }}
                </td>
                <td>
                    {{ sortie.etat.libelle }}
                </td>
                <td>
                    {% for participant in sortie.participant %}
                        {% if app.user.id is same as(participant.id) %}
                            X
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('user_profile', {'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.prenom }}.{{ sortie.organisateur.nom|slice(0,1) }}</a>
                </td>
                <td>
                    {% if app.user.id != sortie.organisateur.id%}
                        {% if sortie.etat.libelle != 'Annulée'%}
                            <a href="{{ path('sortie_affichageSortie', {'id':sortie.id})}}" >Afficher</a>
                        {% endif %}
                        {% if sortie.etat.libelle is same as("Ouverte") and app.user.campus == sortie.campus %}
                            {% set break = false %}
                            {#  Condition pour affichage de s'inscrire ou se désister                              #}
                            {% for participant in sortie.participant %}
                                {% if app.user.id is same as(participant.id) %}
                                    <a href="{{ path('sortie_seDesisterSortie', {'idSortie' : sortie.id}) }}">- Se désister</a>
                                    {% set break = true %}
                                {% elseif loop.last and not break and sortie.participant|length < sortie.nombreInscriptionsMax %}
                                    <a href="{{ path('sortie_registrationSortie', {'idSortie': sortie.id}) }}">- S'inscrire1</a>
                                {% endif %}
                            {% else %}
                                <a href="{{ path('sortie_registrationSortie', {'idSortie': sortie.id}) }}">- S'inscrire2</a>
                            {% endfor %}
                        {% endif %}
                    {% else %}
                        <a href="{{ path('sortie_affichageSortie', {'id':sortie.id})}}" >Afficher</a>
                        {#                            Condition pour l'affichage des boutons d'organisateurs #}
                        {% if app.user.id == sortie.organisateur.id and sortie.date > date('now') or sortie.etat.libelle != ("Passée") %}
                            <a href="{{ path('sortie_cancelSortie', { 'idSortie':sortie.id })}}">Annuler</a>
                            <a href="{{ path('sortie_modifSortie', {'idSortie' : sortie.id }) }}">Modifier</a>
                        {% endif %}
                        {% if sortie.etat.libelle is same as("Créée") and app.user.id is same as(sortie.organisateur.id) %}
                             <a href="{{ path('sortie_publierSortie', {'idSortie' : sortie.id })  }}">Publier</a>
                        {% endif %}

                    {% endif %}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>