<table>
    <thead>
    <tr>
        <th>
            Nom de la sortie
        </th>
        <th>
            Date de la sortie
        </th>
        <th>
            Clôture
        </th>
        <th>
            Inscrits/places
        </th>
        <th>
            Etat
        </th>
        <th>
            Inscrit
        </th>
        <th>
            Organisateur
        </th>
        <th>
            Action
        </th>
    </tr>
    </thead>

    <tbody>

    {% for sortie in sorties%}
        {% if app.user.id is same as(sortie.organisateur.id) and sortie.etat.libelle is same as("Créée") or sortie.etat.libelle is same as("Activité en cours") or sortie.etat.libelle is same as("Ouverte")
            or (app.user.id != sortie.organisateur.id and sortie.etat.libelle != "Créée") %}
            <tr>
                <td>
                    {{ sortie.nom }}
                </td>
                <td>
                    {{ sortie.date|date('d/m/Y') }}
                </td>
                <td>
                    {{ sortie.dateLimite|date('d/m/Y') }}
                </td>
                <td>
                    {{ sortie.participant|length }}/{{ sortie.nombreInscriptionsMax }}
                </td>
                <td>
                    {{ sortie.etat.libelle }}
                </td>
                <td>
                    {% for participant in sortie.participant %}
                        {% if app.user.id is same as(participant.id) %}
                            X
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('user_profile', {'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.prenom }}.{{ sortie.organisateur.nom|slice(0,1) }}</a>
                </td>
                <td>
                    {% if app.user.id != sortie.organisateur.id%}
                        {% if sortie.etat.libelle is same as("Clôturée") and sortie.etat.libelle is same as("Activité en cours") and sortie.etat.libelle is same as("Passée") %}
                            <a href="#" >Afficher</a>
                        {% endif %}
                        {% if sortie.etat.libelle is same as("Ouverte") %}
                            {% set break = false %}
                            {#  Condition pour affichage de s'inscrire ou se désister                              #}
                            {% for participant in sortie.participant %}
                                {% if app.user.id is same as(participant.id) %}
                                    <a href="#">- Se désister</a>
                                    {% set break = true %}
                                {% elseif loop.last and not break %}
                                    <a href="#">- S'inscrire1</a>
                                {% endif %}
                            {% else %}
                                <a href="#">- S'inscrire2</a>
                            {% endfor %}
                        {% endif %}
                    {% else %}
                        {#                            Condition pour l'affichage des boutons d'organisateurs #}
                        {% if app.user.id == sortie.organisateur.id and sortie.dateLimite > date('now') or sortie.etat.libelle is same as("Ouverte") or sortie.etat.libelle is same as("Créée") %}
                            <a href="{{ path('sortie_cancelSortie', { 'idSortie':sortie.id })}}">Annuler</a>
                            <a href="{{ path('sortie_creationSortie') }}">Modifier</a>
                        {% endif %}
                        {% if sortie.etat.libelle is same as("Créée") and app.user.id is same as(sortie.organisateur.id) %}
                            <a href="#">Publier</a>
                        {% endif %}
                        <a href="{{ path('sortie_affichageSortie', {'id':sortie.id})}}" >Afficher</a>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>