

<table>
    <thead>
        <tr>
            <th>Pseudo</th>
            <th class="d-none d-sm-none d-md-table-cell">Nom</th>
            <th class="d-lg-none">Campus</th>
        </tr>
    </thead>
    <tbody>
        {% for participant in listeParticipants %}
        <tr>
            <td>
                <a href="{{ path('utilisateur_profil', {'id': participant.id}) }}">{{ participant.username }}</a>
            </td>
            <td class="d-none d-sm-none d-md-table-cell">
                {{ participant.prenom }}  {{ participant.nom|upper }}
            </td>
            <td class="d-lg-none">
                {{ participant.campus.nom }}
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>