<nav>
    <ul>
        {% if is_granted("ROLE_ADMIN") %}
            <li>
                <a href="{{ path("sortie_ajouterVille") }}">Villes</a>
            </li>
            <li>
                <a href="{{ path('admin_enregistrement') }}">Créer un utilisateur</a>
            </li>
        {% endif %}
        {% if app.user %}
        <li>
            <a href="{{ path('sortie_accueil') }}">Accueil</a>
        </li>
        <li><span>
            <a href="{{ path('utilisateur_modifierProfil') }}">Mon profil</a>
        </span></li>

        <li>
            <a href="{{ path('app_logout') }}">Se déconnecter</a>
        </li>
        {% endif %}
        {% if not app.user %}
        <li>
            <a href="{{ path('app_login') }}">Se connecter</a>
        </li>
        {% endif %}
    </ul>

</nav>

