{% extends 'base.html.twig' %}

{% block title %}
    Profil de {{ app.user.prenom }} {{ app.user.nom }}
{% endblock %}

{% block body %}
    <main class="container-fluid">
        <div class="blocUser">
            {% if app.user.photo %}
                <img class="avatar" src="{{ asset('photo/' ~ app.user.photo) }}" alt="Photo de {{ app.user.username }}">
            {% else %}
                <img class="avatar" src="{{ asset('photo/user.png') }}" alt="Photo de {{ app.user.username }}">
            {% endif %}
            <h1> Profil de {{ app.user.prenom }} {{ app.user.nom }}</h1>
        </div>
        <div>
            {{ form_start(editProfileForm) }}
            {{ form_widget(editProfileForm) }}
            <button class="btn btn-primary">Enregistrer</button>
            {{ form_end(editProfileForm) }}
        </div>
        <a class="btn btn-primary" href="javascript:history.go(-1)">Retour</a>
    </main>
{% endblock %}