{% extends 'base.html.twig' %}

{% block title %}
    Profil de {{ app.user.prenom }} {{ app.user.nom }}
{% endblock %}

{% block body %}
   <h1>{{ app.user.username }}</h1>
    <div>
        <a>Prénom : {{ app.user.prenom }}</a>
    </div>
    <div>
        <a>Nom : {{ app.user.nom }}</a>
    </div>
    <div>
        <a> Téléphone : {{ app.user.telephone }}</a>
    </div>
    <div>
        <a>Email : {{ app.user.email }}</a>
    </div>
    <div>
        <a>Campus : {{ app.user.campus.nom}}</a>
    </div>
    <a type="button" {{ path('sortie_liste') }}>Retour</a>
{% endblock %}

