{% extends 'base.html.twig' %}

{% block title %}
    Profil de {{ app.user.prenom }} {{ app.user.nom }}
{% endblock %}

{% block body %}
   <h1>{{ app.user.username }}</h1>
    <tr>
    Prénom :
        <td>{{ app.user.prenom }}</td>

    Nom :
        <td>{{ app.user.nom }}</td>

    Téléphone :
        <td>{{ app.user.telephone }}</td>

    Email :
        <td>{{ app.user.email }}</td>

    Campus :
        <td>{{ app.user.prenom }}</td>
    </tr>

    <a type="button" {{ path('sortie_liste') }}>Retour</a>
{% endblock %}

