{% extends 'base.html.twig' %}

{% block title %}
    Profil de {{ app.user.prenom }} {{ app.user.nom }}
{% endblock %}

{% block body %}
   <h1> Profil de {{ app.user.prenom }} {{ app.user.nom }}</h1>
    {{ form_start(getForm) }}
        {{ form_widget(getForm) }}
    {{ form_end(getForm) }}
    <a type="button" {{ path('sortie_liste') }}>Retour</a>
{% endblock %}

